# ignore generated SDKs
sdks/generated
sdks/typescript-codegen/src/gen
dist

# Ignore design docs
sdks/typescript-codegen/design

# Ignore response validation captures
sdks/typescript-codegen/.camunda-sdk-captures
#
spec-tools/semantic-types-coverage/dist

*.env

# ignore checkouts of camunda and camunda-docs in root only
/camunda
/camunda-docs
/camunda-8-js-sdk

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

node_modules